*{margin: 0; padding:0; box-sizing: border-box; font-family: "Gilroy", system-ui, Arial;}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background-color: lightblue;
}

.outer{
    background-color: #A50B5E;
    width: 280px;
    height: 330px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    color: white;
}

.info{
  display:flex;
  flex-direction:column;
  width:100%;
}

input[type="text"],
input[type="number"],
input[type="url"], input[type="tel"], input[type="email"]{
  background-color:#F0F0F0;
  border-radius:5px;
  padding:8px;
  margin-bottom:8px;
  border:none;
  color:black;
  font-weight:600;
}

input[type="submit"]{
    background-color:#F0F0F0;
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-weight: 800;
}

/* ID card styles */
#cardsContainer {
  width:300px;
  height:400px;
  background:#F0F0F0;
  border-radius:8px;
  box-shadow:0 6px 18px rgba(0,0,0,0.12);
  padding:16px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;
  border: #A50B5E;
  border-width: 2px;
  border-style: solid;
}

#idPhoto{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:50%;
  border:4px solid #fff;
  background:#ddd;
  margin: 0 auto;      
  display: block;
  margin-top: 50px;      
}


#idName { font-size:1.2rem; margin-top:8px; text-transform: uppercase; text-align: center;}
#idDesig { font-size:1rem; color:#A50B5E; margin:0; text-align: center; }
#idNumber  { font-weight:700; margin-top:30px; color: #666; font-size:small; text-align: center;}
#idMob  { font-weight:700; margin-top:auto; color:#666; font-size:small; text-align: center;}
#idEmail  { font-weight:700; margin-top:auto; color: #666; font-size:small; text-align: center; }
